<header class="header-container">
    <div class="header-container-rect-uno" >
        <div class="header-logo">
            <img src="assets/logo.png" alt="Logo Gov.co" />
        </div>
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/posts">Listado de Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/posts/new">Nueva Publicación</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-container-rect-dos">
        <div class="header-logo-mintic">
            <!--<img src="assets/logoMinTic.png" alt="Logo Gov MinTic.co" />-->
        </div>
    
    </div>
    <div class="header-barra"></div>
</header>