<div class="container mt-4" *ngIf="post">
    <h2 class="text-center">Detalle de publicación</h2>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title text-center">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <div class="text-center">
            <a [routerLink]="['/posts', post.id, 'edit']" class="btn btn-primary me-2">Editar</a>
            <a routerLink="/posts" class="btn btn-secondary">Volver al Listado</a>
        </div>
      </div>
    </div>
  </div>
  